<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>codeandweb</key>
	<dict>
		<key>generator</key>
		<string>TexturePacker 4.12.1 - https://www.codeandweb.com/texturepacker</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c4ba4bdd8f1623d12c590804254ad381:8ed17da41d65b666986b529a3f7f64d4:7453bf04265900564d9b550e684abf4b$</string>
	</dict>
	<key>format</key>
	<string>APPL</string>
	<key>images</key>
	<array>
		<dict>
			<key>path</key>
			<string>attack.1.png</string>
			<key>size</key>
			<string>{572,125}</string>
			<key>subimages</key>
			<array>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>attack_0.png</string>
					<key>spriteOffset</key>
					<string>{0,0}</string>
					<key>spriteSourceSize</key>
					<string>{85,122}</string>
					<key>textureRect</key>
					<string>{{0,0},{85,122}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>attack_1.png</string>
					<key>spriteOffset</key>
					<string>{0,0}</string>
					<key>spriteSourceSize</key>
					<string>{143,118}</string>
					<key>textureRect</key>
					<string>{{143,0},{143,118}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>attack_2.png</string>
					<key>spriteOffset</key>
					<string>{0,0}</string>
					<key>spriteSourceSize</key>
					<string>{130,125}</string>
					<key>textureRect</key>
					<string>{{286,0},{130,125}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>attack_3.png</string>
					<key>spriteOffset</key>
					<string>{0,0}</string>
					<key>spriteSourceSize</key>
					<string>{97,118}</string>
					<key>textureRect</key>
					<string>{{429,0},{97,118}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
