<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>codeandweb</key>
	<dict>
		<key>generator</key>
		<string>TexturePacker 4.12.1 - https://www.codeandweb.com/texturepacker</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b186300305a7cee1c949cc22deb9e133:f10e0a8615567de6e9217c0151f3e272:1b93aa98a4e097c2fccd4564bd26d43f$</string>
	</dict>
	<key>format</key>
	<string>APPL</string>
	<key>images</key>
	<array>
		<dict>
			<key>path</key>
			<string>idle.1.png</string>
			<key>size</key>
			<string>{272,163}</string>
			<key>subimages</key>
			<array>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>idle_0.png</string>
					<key>spriteOffset</key>
					<string>{0,0}</string>
					<key>spriteSourceSize</key>
					<string>{67,163}</string>
					<key>textureRect</key>
					<string>{{0,0},{67,163}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>idle_1.png</string>
					<key>spriteOffset</key>
					<string>{0,0}</string>
					<key>spriteSourceSize</key>
					<string>{67,163}</string>
					<key>textureRect</key>
					<string>{{68,0},{67,163}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>idle_2.png</string>
					<key>spriteOffset</key>
					<string>{0,0}</string>
					<key>spriteSourceSize</key>
					<string>{67,163}</string>
					<key>textureRect</key>
					<string>{{136,0},{67,163}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>idle_3.png</string>
					<key>spriteOffset</key>
					<string>	</string>
					<key>spriteSourceSize</key>
					<string>{68,163}</string>
					<key>textureRect</key>
					<string>{{204,0},{68,163}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
